.section {
    &__gallery {
        background: $sub-color;
        padding: 1.5 * $size 2 * $size;
        &__item {
            cursor: pointer;
            max-width: 20 * $size;
            margin: 2 * $size;
            position: relative;
            &::after {
                content: "";
                @include absoluteCenter("ver");
                background: $primary-color;
                left: -(1.5 * $size);
                width: 3px;
                height: 0%;
            }
            &.active {
                &::after {
                    animation: grow 500ms 1 ease forwards;
                }
            }
        }
    }
}
@include responsive(1600px) {
    $size: $size-md;
    .section {
        &__gallery {
            padding: 1.5 * $size 2 * $size;
            &__item {
                max-width: 23 * $size;
                margin: 2 * $size;
                &::after {
                    left: -(1.5 * $size);
                }
            }
        }
    }
}
@keyframes grow {
    to {
        height: 100%;
    }
}
