.header {
    top: 6 * $size;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: $gold-lever;
    .container {
        @include flex(space-between, row);
        .logo {
            position: relative;
            overflow: hidden;
            .icon {
                transition: transform 300ms ease;
            }
            &:hover {
                .icon {
                    transform: translateY(-100%);
                }
            }
            .icon:nth-child(2) {
                position: absolute;
                top: 100%;
                left: 0;
                background: $primary-color;
            }
        }
    }
}
@include responsive(1600px) {
    $size: $size-md;
    .header {
        top: 6 * $size;
    }
}
@include responsive($break-point-md) {
    .header {
        &__menu {
            display: block;
            cursor: pointer;
            width: 6 * $size;
        }
    }
}
@include responsive($break-point-sm) {
    .header {
        &__menu {
            display: block;
            cursor: pointer;
            width: 4 * $size;
        }
        top: 3 * $size;
        margin-bottom: 3 * $size;
        .container {
            .logo {
                width: 7 * $size;
            }
        }
    }
}
