.n3ds-section {
    .container {
        margin-left: 57%;
    }
    .section__bg {
        width: 50%;
        height: 100vh;
    }
    .section__caption {
        flex-direction: column;
        margin-bottom: 0.7em;
    }
    .section__title {
        transform: unset;
    }
    .section__subtitle {
        margin-bottom: 1 * $size;
    }
    .section__description {
        width: 30vw;
        margin-bottom: 2.5em;
    }
    .button {
        width: 25%;
    }
    .row.bottom {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        .section__gallery {
            flex-direction: column;
        }
        .section__rom-name {
            position: absolute;
            top: 105%;
            right: 0;
        }
    }
}
@include responsive($break-point-md) {
    .n3ds-section.section {
        .container {
            margin-left: 55%;
        }
        .section__subtitle {
            margin-bottom: 0;
        }
        .section__description {
            width: 80%;
        }
        .button {
            width: 80%;
        }
        .row.bottom {
            top: unset;
            left: unset;
            transform: unset;
            .section__rom-name {
                position: unset;
                right: unset;
                top: unset;
            }
        }
    }
}
@include responsive($break-point-sm) {
    .n3ds-section.section {
        .container {
            margin-left: auto;
        }
        .button {
            margin-bottom: 5 * $size;
        }
        .section__subtitle {
            margin-top: 20vh;
            margin-bottom: 0;
        }
        .row.bottom {
            position: relative;
            top: 0;
            left: 0;
            transform: unset;
            .section__rom-name {
                position: relative;
                top: 0;
            }
        }
    }
}
