.nav {
    list-style: none;
    ul {
        display: flex;
        li {
            overflow: hidden;
            position: relative;
            p {
                text-transform: capitalize;
                cursor: pointer;
                font-size: 3 * $size;
                font-weight: 600;
                padding: $size 3 * $size;
                margin: 0 4 * $size;
                transition: transform 0.3s ease;
            }
            p:nth-child(2) {
                position: absolute;
                top: 100%;
                left: 0;
                background: $primary-color;
            }
            &.active {
                p:nth-child(1) {
                    background: $primary-color;
                }
            }
            &:hover {
                p {
                    transform: translateY(-100%);
                }
            }
        }
    }
}
@include responsive(1600px) {
    $size: $size-md;
    .nav {
        ul {
            li {
                p {
                    text-transform: capitalize;
                    cursor: pointer;
                    font-size: 3 * $size;
                    font-weight: 600;
                    padding: $size 3 * $size;
                    margin: 0 4 * $size;
                }
            }
        }
    }
}
