.psp-section {
    .section__caption {
        margin-bottom: 5.5 * $size;
    }
    .section__description {
        width: 60 * $size;
        margin-bottom: 5 * $size;
    }
    .button {
        width: 25%;
        margin-bottom: 6.5 * $size;
    }
    .section__bg {
        width: 80 * $size;
        height: 100vh;
        right: 5.5 * $size;
    }
    .section__rom-name {
        margin-left: 2 * $size;
    }
}
@include responsive(1600px) {
    $size: $size-md;
    .psp-section {
        .section__caption {
            margin-bottom: 5.5 * $size;
        }
        .section__description {
            width: 60 * $size;
            margin-bottom: 5 * $size;
        }
        .button {
            margin-bottom: 6.5 * $size;
        }
        .section__bg {
            width: 100 * $size;
            right: 5.5 * $size;
        }
    }
}
