.psp-section {
    .section__caption {
        margin-bottom: 5.5 * $size;
    }
    .section__description {
        width: 60 * $size;
        margin-bottom: 5 * $size;
    }
    .button {
        width: 25%;
        margin-bottom: 6.5 * $size;
    }
    .section__bg {
        width: 50%;
        height: 100vh;
        right: 5.5 * $size;
    }
    .section__rom-name {
        margin-left: 2 * $size;
    }
}
@include responsive(1600px) {
    $size: $size-md;
    .psp-section {
        .section__caption {
            margin-bottom: 5.5 * $size;
        }
        .section__description {
            width: 60 * $size;
            margin-bottom: 5 * $size;
        }
        .button {
            margin-bottom: 6.5 * $size;
        }
        .section__bg {
            right: 4.5 * $size;
        }
    }
}
@include responsive($break-point-md) {
    .psp-section {
        .button {
            margin-bottom: 5 * $size;
        }
        .row.bottom {
            width: 100%;
        }
        .section__rom-name {
            margin-left: auto;
        }
        .section__bg {
            width: 60%;
        }
    }
}
@include responsive($break-point-sm) {
    .psp-section {
        .section__title {
            width: 80%;
        }
        .button {
            margin-bottom: 3 * $size;
        }
    }
}
