.radio-button {
    @include flex(center, row);
    position: relative;
    label {
        width: 100%;
        font-weight: 600;
        padding-left: $size * 3;
    }
    input[type="radio"] {
        display: none;
        &:checked + .circle {
            &::after {
                background: $bg-color;
            }
            border: 2px solid #2980b9;
        }
    }
    .circle {
        pointer-events: none;
        @include size(2 * $size);
        border-radius: 50%;
        background: white;
        @include absoluteCenter("ver");
        left: 0;
        &::after {
            content: "";
            border-radius: 50%;
            @include absoluteCenter();
            @include size(1 * $size);
        }
    }
}
