.section {
    &__rom-name {
        width: 30vw;
        @include flex(center, row);
        .text {
            line-height: 1.5;
            margin: 0 1.5 * $size;
            width: 50%;
            font-size: 2.5 * $size;
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;
        }
        .bar {
            flex-grow: 1;
            background: $primary-color;
            height: 2px;
        }
    }
}
@include responsive($break-point-md) {
    .section {
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        .container {
            margin-top: 0 !important;
        }
        .row.bottom {
            position: absolute;
            right: 10%;
            bottom: 0;
        }
        &__rom-name {
            width: 60vw;
            height: 5 * $size;
        }
    }
}
@include responsive(1600px) {
    .section {
        &__rom-name {
            .text {
                font-size: 2 * $size;
            }
        }
    }
}
@include responsive($break-point-sm) {
    .section {
        .row.bottom {
            width: 100%;
        }
        &__rom-name {
            width: 100%;
            margin-left: auto !important;
            .text {
                width: 100%;
                text-align: right;
                font-size: 1.5 * $size;
                margin: 0;
            }
        }
    }
}
