main {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
}
main {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
main::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.section {
    position: relative;
    scroll-snap-align: start;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    &__caption {
        text-transform: capitalize;
        font-size: 7 * $size;
    }
    &__subtitle {
        font-family: $sub-font;
        margin-right: 2 * $size;
    }
    &__title {
        font-weight: 800;
        transform: translateY(10%);
    }
    &__description {
        font-size: 3 * $size;
        font-family: $sub-font;
        line-height: 1.5;
    }
    .row.bottom {
        width: max-content;
    }
    &__bg {
        background: $sub-color;
        position: absolute;
        z-index: $wood-lever;
        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%);
            z-index: $wood-lever + 1;
            background: rgba($color: $sub-color, $alpha: 0.25);
        }
    }
}
@include responsive(1600px) {
    $size: $size-md;
    .section {
        &__description {
            font-size: 3 * $size;
        }
        &__caption {
            font-size: 8 * $size;
        }
    }
}
@include responsive($break-point-md) {
    .section {
        &__caption {
            flex-direction: column;
            font-size: 6 * $size !important;
        }
        &__title {
            transform: unset;
        }
        &__description {
            font-size: 2.2 * $size;
            line-height: 1.5;
        }
        .button {
            width: 40% !important;
        }
    }
}
@include responsive($break-point-sm) {
    .section {
        &__caption {
            font-size: 4 * $size !important;
        }
        &__description {
            font-size: 1.6 * $size !important;
            width: 80% !important;
        }
        .button {
            width: 70% !important;
        }
        &__bg {
            width: 70vw;
            height: 80vh !important;
            right: 0 !important;
            bottom: 0 !important;
        }
        &__rom-name {
            width: 80% !important;
            align-items: flex-end !important;
        }
    }
}
