main {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
}
.section {
    position: relative;
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    &__caption {
        text-transform: capitalize;
        font-size: 7 * $size;
    }
    &__subtitle {
        font-family: $sub-font;
        margin-right: 2 * $size;
    }
    &__title {
        font-weight: 800;
        transform: translateY(10%);
    }
    &__description {
        font-size: 3 * $size;
        font-family: $sub-font;
    }
    .row.bottom {
        width: max-content;
    }
    &__bg {
        background: $sub-color;
        position: absolute;
        z-index: $wood-lever;
        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%);
            z-index: $stone-lever;
            background: rgba($color: $sub-color, $alpha: 0.25);
        }
    }
}
@include responsive(1600px) {
    $size: $size-md;
    .section {
        &__description {
            font-size: 3 * $size;
        }
        &__caption {
            font-size: 8 * $size;
        }
    }
}
