.snes-section {
    .container {
        position: relative;
    }
    .section__bg {
        width: 55%;
        height: 100vh;
        left: 6%;
    }
    .section__subtitle {
        color: $primary-color;
        font-size: 3 * $size;
    }
    .section__caption {
        width: 60 * $size;
        flex-direction: column;
        margin-bottom: 7 * $size;
    }
    .section__title {
        transform: unset;
        line-height: 1.5;
    }
    .section__description {
        position: absolute;
        width: 60 * $size;
        left: 50%;
        top: 10%;
    }
    .button {
        position: absolute;
        left: 50%;
        top: 35%;
        width: 25%;
    }
    .row.bottom {
        margin-left: auto;
        flex-direction: column;
    }
    .section__gallery {
        margin-bottom: 2 * $size;
    }
    .section__rom-name {
        height: 8 * $size;
        align-self: center;
    }
}
@include responsive(1600px) {
    $size: $size-md;
    .snes-section {
        .section__subtitle {
            font-size: 3 * $size;
        }
        .section__caption {
            width: 60 * $size;
            margin-bottom: 3 * $size;
        }
        .section__title {
            font-size: 7 * $size;
        }
        .section__description {
            width: 60 * $size;
        }
        .section__gallery {
            margin-bottom: 2 * $size;
        }
        .row.bottom {
            margin-left: 35 * $size;
        }
    }
}
@include responsive($break-point-md) {
    .snes-section {
        .section__bg {
            left: 5%;
            width: 60%;
        }
        .section__title {
            font-size: 6 * $size;
            width: 80%;
        }
        .section__caption {
            margin-bottom: 0;
        }
        .section__description {
            width: auto;
            left: 60%;
            top: 10%;
        }
        .button {
            width: 40%;
            left: 60%;
            top: unset;
            bottom: 10%;
        }
        .row.bottom {
            margin-left: 0;
            right: 0;
            bottom: -50%;
        }
    }
}
@include responsive($break-point-sm) {
    .snes-section {
        .container {
            position: unset;
        }
        .section__bg {
            left: unset;
        }
        .section__title {
            font-size: 4 * $size;
            line-height: 1.25;
        }
        .section__subtitle {
            font-size: 2 * $size;
        }
        .section__caption {
            margin-bottom: 0.5em;
        }
        .section__description {
            position: unset;
        }
        .button {
            position: unset;
        }
        .row.bottom {
            margin-top: 0;
            margin-left: 0;
            bottom: 0;
            right: 10%;
        }
    }
}
