.social {
    position: fixed;
    z-index: $gold-lever;
    left: 0;
    padding: 2 * $size;
    top: 50%;
    transform: translateY(-50%);
    @include flex(center, column);
    &__item {
        width: 3.5 * $size;
        margin: 1.5 * $size 0;
        transition: transform 200ms ease;
        &:hover {
            transform: scale(1.5);
        }
        &:active {
            transform: scale(0.8);
        }
    }
}
@include responsive($break-point-md) {
    .social {
        all: unset;
        position: absolute;
        bottom: 5%;
        display: flex;
        &__item {
            width: 4 * $size;
            margin: 0 2 * $size;
        }
        &::after {
            content: "";
            @include absoluteCenter("hor");
            bottom: 200%;
            width: 50%;
            height: 5px;
            background: $primary-color;
        }
    }
}
@include responsive($break-point-sm) {
    .social {
        &__item {
            width: 2 * $size;
            margin: 0 $size;
        }
    }
}
