.social {
    position: fixed;
    z-index: $gold-lever;
    left: 0;
    padding: 2 * $size;
    top: 60%;
    transform: translateY(-50%);
    @include flex(center, column);
    &__item {
        width: 3 * $size;
        margin: 1.5 * $size 0;
    }
    &::after {
        content: "";
        background: $sub-color;
        position: absolute;
        width: 100%;
        height: 90%;
        z-index: -1;
        bottom: 60%;
        left: 0;
    }
}
