@import url("https://fonts.googleapis.com/css2?family=Halant:wght@400;600;700&family=Nunito&display=swap");
// import font and other cdn

*,
*::after,
*::before {
    box-sizing: border-box;
    cursor: none;
}

html {
    font-size: 62.5%; // 1rem = 10px;
    font-family: $main-font;
}

body {
    font-size: 2 * $size;
    color: $text-color;
    background: $bg-color;
    line-height: 1.25;
    overflow-x: hidden;
}
input,
select,
textarea,
button {
    font-family: $sub-font;
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.wrapper {
    max-width: 1920px;
}
.container {
    width: 80%;
    margin: 0 auto;
    @include responsive($break-point-sm) {
        width: 90%;
        padding: 0 2rem;
    }
}
.hide-on-sm {
    @include responsive($break-point-sm) {
        display: none;
    }
}
.hide-on-md {
    @include responsive($break-point-md) {
        display: none;
    }
}
.hide-on-lg {
    display: none;
}
