//fonts

$main-font: "Halant";
$sub-font: "Nunito";

// colors
$primary-color: #f05454;
$bg-color: #222831;
$sub-color: #30475e;
$text-color: white;
$black-color: #373737;

// ====== Break Point ============
$break-point-md: 1024px;
$break-point-sm: 480px;

// ====== Size ============

$size: 1rem;
$size-md: 0.7rem;
$size-sm: 0.4rem;

// ====== Layer ============
$wood-lever: -10;
$stone-lever: -5;
$iron-lever: 1;
$gold-lever: 5;
$diamond-lever: 10;

// ====== timing function =======
$ease: cubic-bezier(0.445, 0.05, 0.55, 0.95);
